<!--The content below is only a placeholder and can be replaced.-->

<body class="bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="col-md-10 mx-auto h1">Welcome to {{ title }}</div>
      </div>
      <div class="col-md-4 mt-5">
        <a href="#addForm" class="btn btn-success btn-lg" (click)="showForm()">
          Add Employee
        </a>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4 mx-auto h2"><u>Employee List</u></div>
    </div>
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
            <th scope="row">{{ emp.empID }}</th>
            <td>{{ emp.name }}</td>
            <td>{{ emp.age }}</td>
            <td>{{ emp.gender }}</td>
            <td>{{ emp.department }}</td>
            <td>{{ emp.salary }}</td>
            <td>
              <a class="btn btn-info" href="#editForm" (click)="edit(emp.empID)">Edit</a>&nbsp;
              <button class="btn btn-danger" (click)="delete(emp.empID)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="showAddForm" id="addForm">
      <div class="col-md-7 mx-auto">
        <div class="card shadow mt-3">
          <div class="card-header h3 text-center text-white bg-info">
            {{actionTitle}}
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="name"
                aria-describedby="nameHelp"
                placeholder="Enter name"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputDob">DOB</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="dob"
                aria-describedby="dobHelp"
                placeholder="Enter age"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputGender">Gender</label>
              <select
                name="gender"
                id=""
                class="form-control"
                [(ngModel)]="gender"
              >
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputDepartment">Department</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="department"
                aria-describedby="departmentHelp"
                placeholder="Enter department"
              />
              <div class="form-group">
                <label for="exampleInputSalary">Salary</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="salary"
                  aria-describedby="salaryHelp"
                  placeholder="Enter salary"
                  min="0"
                />
              </div>
            </div>
            <div class="card-footer">
              <div class="col-md-6 mx-auto">
                <button class="btn btn-info btn-block btn-lg" (click)="submit()">
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showEditForm" id="editForm">
        <div class="col-md-7 mx-auto">
          <div class="card shadow mt-3">
            <div class="card-header h3 text-center text-white bg-info">
              Edit Details
            </div>
            <div class="card-body">
              <div class="form-group">
                <input type="hidden" [(ngModel)]="empID">
                <label for="exampleInputName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="name"
                  aria-describedby="nameHelp"
                  placeholder="Enter name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputDob">DOB</label>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="dob"
                  aria-describedby="dobHelp"
                  placeholder="Enter age"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputGender">Gender</label>
                <select
                  name="gender"
                  id=""
                  class="form-control"
                  [(ngModel)]="gender"
                >
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputDepartment">Department</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="department"
                  aria-describedby="departmentHelp"
                  placeholder="Enter department"
                />
                <div class="form-group">
                  <label for="exampleInputSalary">Salary</label>
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="salary"
                    aria-describedby="salaryHelp"
                    placeholder="Enter salary"
                    min="0"
                  />
                </div>
              </div>
              <div class="card-footer">
                <div class="col-md-6 mx-auto">
                  <button class="btn btn-info btn-block btn-lg" (click)="update()">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
